---
import { Button, Collapse, Spoiler, Timeline } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import Substats from '@/components/about/Substats.astro'
import ToolSection from '@/components/about/ToolSection.astro'

const vscode = import('@/assets/tools/vscode.svg?raw')
const vim = import('@/assets/tools/vim.svg?raw')
const xcode = import('@/assets/tools/xcode.svg?raw')
const matlab = import('@/assets/tools/matlab.svg?raw')
const nodejs = import('@/assets/tools/nodejs.svg?raw')
const vue = import('@/assets/tools/vue.svg?raw')
const tailwindcss = import('@/assets/tools/tailwindcss.svg?raw')
const astro = import('@/assets/tools/astro.svg?raw')
const vercel = import('@/assets/tools/vercel.svg?raw')
const pytorch = import('@/assets/tools/pytorch.svg?raw')
const docker = import('@/assets/tools/docker.svg?raw')
const apple = import('@/assets/tools/apple.svg?raw')
const windows11 = import('@/assets/tools/windows11.svg?raw')
const ubuntu = import('@/assets/tools/ubuntu.svg?raw')
const photoshop = import('@/assets/tools/photoshop.svg?raw')
const illustrator = import('@/assets/tools/illustrator.svg?raw')
const aftereffects = import('@/assets/tools/aftereffects.svg?raw')
const davinci = import('@/assets/tools/davinci.svg?raw')
const chrome = import('@/assets/tools/chrome.svg?raw')
const safari = import('@/assets/tools/safari.svg?raw')
const typora = import('@/assets/tools/typora.svg?raw')
const texstudio = import('@/assets/tools/texstudio.svg?raw')


const headings = [
  // { depth: 2, slug: 'hobbies', text: 'Hobbies' },
  { depth: 2, slug: 'tools', text: 'Tools' },
  { depth: 2, slug: 'social-networks', text: 'Social Networks' },
  { depth: 2, slug: 'education', text: 'Education' },
  { depth: 2, slug: 'experience', text: 'Experience' }
]
---

<PageLayout title='About' {headings} comment>
  <p>Developer / Photographer / Fitness enthusiast</p>
  <p> 
    我是KevinGuo，一名软件工程专业的技术宅，喜欢编程、摄影和健身。
  </p>
  <p>
    目前就读于广东第二师范学院软件工程专业，目前学习方向为全栈开发 / ML / CV。
  </p>
  <p>
    一个走了很多弯路的不是很专业的coder，正在努力提升coding能力，希望各位大佬多多指正。
  </p>

  {/* tools */}
  <h2 id='tools'>Tools</h2>
  <p>个人日常使用的工具如下:</p>
  <ToolSection
    class='mb-5'
    title='Development'
    tools={[
      {
        name: 'VS Code',
        description: 'IDE',
        href: 'https://code.visualstudio.com/',
        icon: vscode
      },
      {
        name: 'vim',
        description: 'IDE',
        href: 'https://www.vim.org',
        icon: vim
      },
      {
        name: 'Xcode',
        description: 'Apple Dev IDE',
        href: 'https://developer.apple.com/xcode/',
        icon: xcode
      },
      {
        name: 'MATLAB',
        description: 'Numerical Computing',
        href: 'https://www.mathworks.com/products/matlab.html',
        icon: matlab
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Technology Stack'
    tools={[
      {
        name: 'Node.js',
        description: 'JavaScript Runtime',
        href: 'https://nodejs.org/',
        icon: nodejs
      },
      {
        name: 'Vue.js',
        description: 'Frontend Framework',
        href: 'https://vuejs.org',
        icon: vue
      },
      {
        name: 'Tailwind CSS',
        description: 'CSS Framework',
        href: 'https://tailwindcss.com/',
        icon: tailwindcss
      },
      {
        name: 'Astro',
        description: 'Static Site Generator',
        href: 'https://astro.build/',
        icon: astro
      },
      {
        name: 'Vercel',
        description: 'Hosting & Deployment',
        href: 'https://vercel.com/',
        icon: vercel
      },
      {
        name: 'Pytorch',
        description: 'Machine Learning',
        href: 'https://pytorch.org/',
        icon: pytorch
      },
      {
        name: 'Docker',
        description: 'Containerization',
        href: 'https://www.docker.com',
        icon: docker
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Environment'
    tools={[
      {
        name: 'MacOS Sequoia',
        description: 'MacBook Pro 14 M1 Pro',
        href: 'https://www.apple.com/macos/',
        icon: apple
      },
      {
        name: 'Windows 11',
        description: 'Zephyrus G16 2024 intel Ultra9',
        href: 'https://rog.asus.com/laptops/rog-zephyrus/rog-zephyrus-g16-2024/',
        icon: windows11
      },
      {        
        name: 'Ubuntu',
        description: 'WSL2 on Windows 11',
        href: 'https://ubuntu.com/',
        icon: ubuntu
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Digital Content'
    tools={[
      {
        name: 'Photoshop',
        description: 'Picture Editing',
        href: 'https://www.adobe.com/products/photoshop',
        icon: photoshop
      },
      {
        name: 'Illustrator',
        description: 'Vector Drawing',
        href: 'https://www.adobe.com/products/illustrator',
        icon: illustrator
      },
      {
        name: 'After Effects',
        description: 'Motion Graphics',
        href: 'https://www.adobe.com/products/aftereffects',
        icon: aftereffects
      },
      {
        name: 'DaVinci Resolve',
        description: 'Video Editing & Color Grading',
        href: 'https://www.blackmagicdesign.com/products/davinciresolve',
        icon: davinci
      }
    ]}
  />
  <ToolSection
    class='mb-5'
    title='Productivity'
    tools={[
      {
        name: 'Chrome',
        description: 'Browser',
        href: 'https://www.google.com/chrome/',
        icon: chrome
      },
      {
        name: 'Safari',
        description: 'Browser',
        href: 'https://support.apple.com/safari',
        icon: safari
      },
      {
        name: 'Typora',
        description: 'Markdown Editor',
        href: 'https://typora.io/',
        icon: typora
      },
      {
        name: 'Texstudio',
        description: 'LaTeX Editor',
        href: 'https://www.texstudio.org',
        icon: texstudio
      },
    ]}
  />
  

  {/* social-networks */}
  <h2 id='social-networks'>Social Networks</h2>
  <p>
    blog中的部分内容会分享到以下平台上，欢迎在这些平台上关注我:
  </p>
  <Substats
    stats={[
      {
        platform: 'GitHub',
        icon: 'github',
        link: 'https://github.com/KevinGuo1007',
        text: 'followers',
        api: 'github/KevinGuo1007'
      },
      {
        platform: 'Zhihu',
        icon: 'zhihu',
        color: '#0084ff',
        link: 'https://www.zhihu.com/people/zhuozhiyongde',
        text: 'followers',
        count: 1
      },      
      {
        platform: 'Bilibili',
        icon: 'bilibili',
        color: '#fe7398',
        link: 'https://space.bilibili.com/39395433',
        text: 'followers',
        count: 71
      },
      {
        platform: 'Steam',
        icon: 'steam',
        color: '#50769d',
        link: 'https://steamcommunity.com/profiles/76561199760864774/',
        text: 'games',
        count: 30
      }
    ]}
  />


  {/* Education */}
  <h2 id='education'>Education</h2>
  <Timeline
    events={[
      {
        date: '2023.09.01 - Present',
        content: '<a href="https://www.gdei.edu.cn"target="_blank">广东第二师范学院</a>'
      },
      {
        date: '2020.09.01 - 2023.06.09',
        content: '<a href="https://baike.baidu.com/item/深圳市盐田高级中学/7504362"target="_blank">盐田高级中学</a>'
      }
    ]}
  />

  {/* Experience */}
  <h2 id='experience'>Experience</h2>
  <Timeline
    events={[
      {
        date: '2025.09 - Present',
        content:
          '电脑义务维修中心 主任'
      },
      {
        date: '2025.06 - Present',
        content:
          '健身健美协会 会长'
      },
      {
        date: '2024.05 - 2025.06',
        content:
          '计算机学院易班工作站 视觉部部长'
      }
    ]}
  />
</PageLayout>
