---
import { Image } from 'astro:assets'

import { Button, Collapse, Icon } from 'astro-pure/user'
import PageLayout from '@/layouts/CommonPage.astro'
import ProjectSection from '@/components/projects/ProjectSection.astro'
import Sponsors from '@/components/projects/Sponsors.astro'
import Sponsorship from '@/components/projects/Sponsorship.astro'
import alipay from '@/assets/alipay-qrcode.jpg'
import KeyIcon from '@/assets/icons/key.svg'
import wechat from '@/assets/wechat-qrcode.jpg'

const headings = [
  { depth: 2, slug: 'theme', text: 'Theme' },
  { depth: 2, slug: 'programs', text: 'Programs' },
  { depth: 2, slug: 'learnings', text: 'Learnings' },
  { depth: 2, slug: 'others', text: 'Others' },
]
---

<PageLayout title='Projects' {headings} view>

  <h2 id='theme'>Theme</h2>
  <ProjectSection
    projects={[
      {
        name: 'GDUE-Beamer-Presentation-Theme',
        description: 'GDUE 非官方 Beamer 模版，帮助你快速制作高质量的幻灯片。',
        links: [
          { type: 'github', href: 'https://github.com/KevinGuo1007/GDUE-Beamer-Slides-Theme' },
        ]
      }
    ]}
  />

  <h2 id='programs'>Programs</h2>
  <ProjectSection
    projects={[
      {
        name: 'spider-for-weathersite',
        description:
          'A simple web scraper for weather website, get weather info and send email daily.',
        links: [
          { type: 'github', href: 'https://github.com/cworld1/notie' },
        ]
      },
    ]}
  />
  

  <h2 id='learnings'>Learnings</h2>
  <ProjectSection
    class='my-2'
    projects={[
      {
        name: 'NJU OS',
        description: 'learning notes and code for NJU Operating System course',
        links: [
          { type: 'github', href: ''}
        ]
      },
    ]}
  />

  <h2 id='others'>Others</h2>
  <ProjectSection
    projects={[

    ]}
  />

  
</PageLayout>

